label {display: block;}
input {display: block;}


/* -pagelayout- */
#wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4d4d4d;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 70px;
    
      display: grid;
  grid-gap: 20px;
  grid-template-rows:
   "banner"
   "a"
   "b"
   "c"
   "d"
   "footer";
}

@media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 
      "banner  banner"
      "a  a"
      "b  b"
      "c  c"
      "d  d"
      "footer  footer";
  }
}

 @media (min-width: 60em) {
  #wrapper {
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-rows: 
      "banner  banner  banner"
      "a  a  a"
      "b  b  b"
      "c  c  c"
      "d  d  d"
      "footer  footer  footer";
   }
}

.banner {grid-area: banner;}

.pagemenu {grid-area: menu;}

nav {grid-area: nav;}

table {grid-area: table;}

main {grid-area: main;}


aside	{grid-area: aside;}

footer {grid-area: footer;}


.div.googleCalendar {grid-area: e;}

.div.clockFunction {grid-area: b;}

.div.ToDoList {grid-area: d;}

.div.gcse-search {grid-area: f;}

header{
    line-height: 5px;
}

.body div {
    display:grid;
    width: 100%;
    grid-template-rows:
        "a  a  a  a  b  b"
        "c  c  d  d  e  e"
        "c  c  d  d  e  e"
        "c  c  f  f  f  f";
    
        
}

#content {
  position: fixed;
  bottom:0;
  left:0;
  background: rgba(128,128,128, 0.5);
  color: #f1f1f1;
    width: 100%px;
  height: 100%;
}

/* -menu-page- */
.pagemenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
.pagemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0d0d;
    opacity : 0.5;
}
.pagemenu li {
    float: left;
}
.pagemenu li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.pagemenu li a:hover {
  color: #0d0d0d;
  border: #0d0d0d solid 1px;
  background:#fff;
  transition: all 0.5s;
   border-radius: 5px;
}

.pagemenu li a:active {
    background-color: #000;
    color: #000;
}

/* -headings- */
h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    z-index: 1;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #4d4d4d;
    color: #cc0000;
    font-size: 20px;
    line-height: 20px;
}



/* -grouping- */
p {
        float: right;
        font-size: 20px;
        line-height: 25px;
        padding-top: 30px;
        background-color: #FF5A5A;
        padding-left: 18px;
        padding-bottom: 18px;
        padding-right: 18px;
}


/* -lists- */
li	{
    padding-top: 10px;
    padding-bottom: 10px;
}


/* -text- */
strong	{
    z-index: 1;
}

/* -images- */

img {
  float: left;
}

/* -anchors- */
a:link	{
    color: #0090D2;
}
a:visited {
    color: #0090D2;
}   
a:hover {
    color: #0063A6;
    text-decoration: none;
}
a:active {
    background-color: #333;
}



/*   Test Break    */



:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
    padding-left: 0rem;
}

.task-list h2 {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--grey);
    margin-top: 1rem;
	margin-bottom: 1rem;
    text-anchor: left;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}